[Unit]
Description=Conky System Monitor (Hybrid Theme)
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
# Attempt to load user environment before starting Conky
ExecStart=/bin/sh -c 'eval $(systemctl --user show-environment); /usr/local/bin/conky -c /home/{{ local_user }}/.config/conky/conky.conf'
Restart=on-failure
RestartSec=5
TimeoutStopSec=5

[Install]
WantedBy=graphical-session.target 