[Desktop Entry]
Name=Cursor
Comment=AI-first code editor
Exec={{ cursor_appimage_dest }}
Icon={{ cursor_icon_dest }}
Terminal=false
Type=Application
Categories=Development;IDE;
StartupWMClass=Cursor
MimeType=text/plain;inode/directory;
Keywords=cursor;code;editor;ide; 