[Desktop Entry]
Name=Joplin
Comment=Joplin - An open source note taking and to-do application
Exec={{ joplin_appimage_dest }}
Icon={{ joplin_icon_dest }}
Terminal=false
Type=Application
Categories=Office;Notes;
StartupWMClass=Joplin
MimeType=text/plain;inode/directory;
Keywords=joplin;notes;todo; 