[Desktop Entry]
Name=Android Studio
Comment=The official IDE for Android development
Exec={{ android_studio_install_dir }}/bin/studio.sh
Icon={{ android_studio_install_dir }}/bin/studio.png
Terminal=false
Type=Application
Categories=Development;IDE;
StartupWMClass=jetbrains-studio
MimeType=application/vnd.android.package-archive;
Keywords=android;studio;development;ide;java;kotlin;