[Default Applications]
# Video associations
{% for mime_type in video_mime_types %}
{{ mime_type }}={{ video_player_app }}
{% endfor %}

# Text and code associations
{% for mime_type in text_mime_types %}
{{ mime_type }}={{ text_editor_app }}
{% endfor %}

# Image associations
{% for mime_type in image_mime_types %}
{{ mime_type }}={{ image_editor_app }}
{% endfor %}

# Vector graphics associations
{% for mime_type in vector_graphics_mime_types %}
{{ mime_type }}={{ vector_graphics_app }}
{% endfor %}

# PDF associations
{% for mime_type in pdf_mime_types %}
{{ mime_type }}={{ pdf_viewer_app }}
{% endfor %}

# Office document associations
{% for mime_type in document_mime_types %}
{{ mime_type }}={{ office_suite_app }}
{% endfor %}

# Web browser associations
{% for mime_type in web_mime_types %}
{{ mime_type }}={{ web_browser_app }}
{% endfor %}

# Torrent client associations
{% for mime_type in torrent_mime_types %}
{{ mime_type }}={{ torrent_client_app }}
{% endfor %}

[Added Associations]
# Video associations
{% for mime_type in video_mime_types %}
{{ mime_type }}={{ video_player_app }};
{% endfor %}

# Text and code associations
{% for mime_type in text_mime_types %}
{{ mime_type }}={{ text_editor_app }};
{% endfor %}

# Image associations
{% for mime_type in image_mime_types %}
{{ mime_type }}={{ image_editor_app }};
{% endfor %}

# Vector graphics associations
{% for mime_type in vector_graphics_mime_types %}
{{ mime_type }}={{ vector_graphics_app }};
{% endfor %}

# PDF associations
{% for mime_type in pdf_mime_types %}
{{ mime_type }}={{ pdf_viewer_app }};
{% endfor %}

# Office document associations
{% for mime_type in document_mime_types %}
{{ mime_type }}={{ office_suite_app }};
{% endfor %}

# Web browser associations
{% for mime_type in web_mime_types %}
{{ mime_type }}={{ web_browser_app }};
{% endfor %}

# Torrent client associations
{% for mime_type in torrent_mime_types %}
{{ mime_type }}={{ torrent_client_app }};
{% endfor %}
